<div>
  <!-- MAIN MENU -->
  <div class="header" align="center">
    <!-- -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/fisica/authors">PROYECTO FINAL FISICA III</a>
          <!-- <a class="navbar-brand" href="/fisica/authors">PROYECTO FINAL FISICA III</a> -->
        </div>
        <ul class="nav navbar-nav">
          <li><%= link_to "Interaccion entre cargas electricas", fisica_index_path %></li>
          <li>
            <%= link_to "Campo electrico debido cargas en linea infinita", fisica_campoelectrico_path %>
            <!-- <li><a href="/fisica/campoelectrico">Campo electrico debido cargas en linea infinita</a></li> -->
          </li>
          <li class="active"><%= link_to "Circuitos eléctricos", fisica_circuitos_path %></li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- END MENU -->
  <div class="page-header">
    <h1>
      <small>Simulación de un circuito eléctrico de dos ramas</small>
    </h1>
  </div>

  <div id="container3"></div>

  <script type="text/javascript">

      //GLOBAL VARIABLES
      let stage = new Konva.Stage({
          width: 1000,
          height: 500,
          container: "container3"
      });
      let images = [];

      let layer = new Konva.Layer();

      stage.add(layer);

      //Left panel
      let leftPanel = new Konva.Rect({
          x: 800,
          y: 0,
          fill: 'black',
          width: 190,
          height: 490

      });
      layer.add(leftPanel);

      //Create images
      createImage(40, 80, 870, 50, '/assets/pila.png');
      createImage(80, 40, 850, 180, '/assets/resistencia.png');


      function createImage(width, height, x, y, src) {
          let imageObj = new Image();
          imageObj.onload = function () {
              let image = new Konva.Image({
                  x: x,
                  y: y,
                  image: imageObj,
                  width: width,
                  height: height,
                  draggable: true
              });
              // add the shape to the layer
              layer.add(image);
              stage.add(layer);

              //Cursor styling
              image.on('mouseover', function () {
                  document.body.style.cursor = 'pointer';
              });
              image.on('mouseout', function () {
                  document.body.style.cursor = 'default';
              });

              images.push(image);


          };
          imageObj.src = src;
      }


      layer.draw();

  </script>


</div>

