<!-- MAIN MENU -->
<div class="header" align="center">
  <!-- -->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">PROYECTO FINAL FISICA III</a>
        <!-- <a class="navbar-brand" href="/fisica/authors">PROYECTO FINAL FISICA III</a> -->
      </div>
      <ul class="nav navbar-nav">
        <li><a onclick="location.href='/fisica/index'">Interacciones entre cargas</a></li>
        <li><a onclick="location.href='/fisica/campoelectrico'">Campo electrico debido cargas en linea infinita</a></li>
        <li class="active"><a onclick="location.href='/fisica/magnetico'">Campo magnético</a></li>
      </ul>
    </div>
  </nav>
</div>
<!-- END MENU -->
<div class="page-header">
  <h1>
    <small>Trayectoria de una partícula debido a un campo magnético uniforme</small>
  </h1>
</div>
<!-- KONVA -->
<button onclick="startAnim()">Animate</button>
<div id="container4">

</div>


<div>
  <script type="text/javascript">

      //GLOBAL VARIABLES
      let stage = new Konva.Stage({
          container: 'container4',   // id of container <div>
          width: 1200,
          height: 500
      });

      let layer = new Konva.Layer();
      //Campo magnetico
      let Bmag = 6.622; //Teslas
      let Bdir = "cruz"; //Hacia dentro de la pantalla. "punto", hacia fuera de la pantalla.
      let Fm = [0, 0]; //Fuerza magnetica

      let label = new Konva.Label({
          x: 180,
          y: 150,
          opacity: 0.75,
          draggable: true,
      });


      //END GLOBAL VARIABLES

      /*** CLASSES **/
      class Particle {

          constructor() {
              this.particle = new Konva.Circle({
                  x: 150,
                  y: 350,
                  radius: 12,
                  fill: 'red',
                  draggable: true
              });
              this.velocity = [0.5, 0];
              this.mass = 0.009;
              this.charge = 0.167;
          }

          getPart() {
              return this.particle;
          }

          getCharge() {
              return this.charge;
          }

          getMass() {
              return this.mass;
          }
          getSpeed() {
              return this.velocity;
          }


          //Dibujar
          draw() {
              layer.add(this.particle);
              layer.draw();
          }
      }
      /*** END **/

      stage.add(layer); //Add layer to stage

      //Crear campo magnetico
      drawCampo(Bdir);

      /* Particula */
      let part = new Particle();
      part.draw();

      let puntos = [part.getPart().x(), part.getPart().y()];
      let line = new Konva.Line({
          points: puntos,
          stroke: 'darkred',
          strokeWidth: 2,
          lineJoin: 'round',
          lineCap: 'round',
          tension: 1
      });
      layer.add(line);


      /* ANIMACIN PARTICULA */
      let anim = new Konva.Animation(function (frame) {

          part.getPart().x(part.getPart().x() + part.getSpeed()[0]); //Prueba

          /*** CURVAR SI ENTRA EN EL CAMPO MAGNETICO */
          let xi = label.x();
          let xf = label.x() + label.getWidth();
          let yi = label.y();
          let yf = label.y() + label.getHeight();

          //Radio de curvatura
          let R = ((part.getMass() * ( Math.pow(part.getSpeed()[0], 2) + Math.pow(part.getSpeed()[1], 2) )) / (part.getCharge() * Bmag));
          if (part.getSpeed()[0] > 0 && Bdir === "cruz") {
              R = (-1) * R;
          }

          if ((part.getPart().x() >= xi && part.getPart().x() <= xf) && (part.getPart().y() >= yi && part.getPart().y() <= yf)) {
              //Esta en el campo magnetico
              part.getPart().x(part.getPart().x() + part.getSpeed()[0]); //Prueba
              part.getPart().y(part.getPart().y() + part.getSpeed()[1]);
              part.getSpeed()[1] += R;
          }
          else {
              //no lo esta

              part.getPart().x(part.getPart().x() + part.getSpeed()[0]); //Prueba
              part.getPart().y(part.getPart().y() + part.getSpeed()[1]); //
          }

          if (part.getPart().x() >= 1190 || part.getPart().y() >= 490 || part.getPart().x() <= 10 || part.getPart().y() <= 10) {
              anim.stop();
          }

          line.points(line.points().concat([part.getPart().x(), part.getPart().y()]));

          layer.draw();
      });

      /*** FUNCTIONS ***/
      function campoMagnetico() {
          window.alert()
      }
      function startAnim() {
          anim.start();
      }
      function drawCampo(direccion) {

          //Dibujar campo B

          let t = "";

          if (direccion === "cruz") {
              //Dibujar cruces uniformes
              for (let i = 1; i < 50; i++) {
                  if (i % 10 === 0) {
                      t += "\n";
                  } else {
                      t += "X     ";
                  }
              }

          }
          else {
              //Dibujar puntos uniformes
              //Dibujar cruces uniformes
              for (let i = 1; i < 50; i++) {
                  if (i % 10 === 0) {
                      t += "\n";
                  } else {
                      t += "■     ";
                  }
              }
          }
          label.add(new Konva.Text({
              text: t,
              fontFamily: 'Calibri',
              fontSize: 18,
              padding: 5,
              fill: 'black'
          }));
          layer.add(label);
          layer.draw();
      }

      layer.draw();
  </script>

</div>